<!DOCTYPE html>
<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Dashboard Page</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
<h1>Welcome! </h1>

Logged user: <span sec:authentication="name">Default Name - will be replaced</span> <br/>
Roles: <span sec:authentication="principal.authorities">Default Role - will be replaced</span>

<br/>

<a th:href="@{/admin/index}">Go To Admin Page</a>

<br/><br/>

<form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">Logout</button>
</form>

</body>
</html>